
.page-title {
    padding: 5em 0;
    background-color: #A9A9A9;
}
 

.page-title-small {
    padding: 0.5em 0;
    background-color: #A9A9A9;
}

.page-title-small h1 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.page-title-bottom {
    background-color: #D3D3D3;
}

.page-body {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.button-link-with-links {
    margin-top: -4px;
    padding: 0;
    border: none;
}

code {
    border: 1px dashed #dddddd;
}

.comment {
    white-space: pre;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #2D2D2D;
        color: #DDDDDD;
    }

    hr {
        border-color: #494949;
    }

    .page-title {
        background-color: #393939;
        color: white;
    }

    .page-title-small {
        background-color: #393939;
        color: white;
    }

    .page-title-bottom {
        background-color: #333333;
    }

    .alert-secondary {
        background-color: #353535;
        color: #DDDDDD;
        border-color: #353535;
    }

    nav.bg-light {
        background-color: #2D2D2D!important;
    }

    a.nav-link, a.navbar-brand {
        color: white!important;
    }

    footer.border-top {
        border-color: #666666!important;
    }

    a {
        color: #4ea6fa;
    }

    code {
        border: 1px dashed #494949;
    }
    
    .form-control {
        background-color: #393939;
        border-color: #666666;
        color: #DDDDDD;
    }
    
    .form-control:focus {
        border-color: #DDDDDD;
        background-color: #393939;
        color: white;
    }

    th {
        background-color: #393939!important;
        color: white!important;
    }

    td {
        color: #DDDDDD;
    }
}

/* Small devices (landscape phones, 576px and up) */ 
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */ 
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */ 
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */ 
@media (min-width: 1200px) {
}

