
.page-title {
    padding: 5em 0;
    background-color: #A9A9A9;
}

.page-title-small {
    padding: 0.5em 0;
    background-color: #A9A9A9;
}

.page-title-small h1 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.page-title-bottom {
    background-color: #D3D3D3;
}


/* Small devices (landscape phones, 576px and up) */ 
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */ 
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */ 
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */ 
@media (min-width: 1200px) {
}

