@page
@model SimpleBlog.Pages.AdminModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Admin";
}

<div class="page-title-small">
    <div class="container">
        <h1>Posts</h1>
    </div>
</div>

<div class="container page-body">
    <a class="btn btn-primary" role="button" asp-page="/adminarticle">Add post</a>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">URL</th>
                    <th scope="col">Title</th>
                    <th scope="col">Created</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var article in Model.Articles)
                {
                    <tr>
                        <td>@article.Id</th>
                        <td>@article.Title</td>
                        <td>@article.Created</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

