@page "/blog/{id}"
@model SimpleBlog.Pages.ArticleModel
@{
}
<div class="">
    <h1 class="display-4">@Model.Title</h1>
    <p>@Model.Created</p>
    <ul class="no-gutters">
        @foreach (var tag in Model.Tags)
        {
            <li>@tag</li>
        }
    </ul>
    <p>@Model.Body</p>
</div>
