@page "/blog/{id}"
@model SimpleBlog.Pages.ArticleModel
@{
}

<div class="page-title">
    <div class="container">
        <h1 class="display-4">@Model.Title</h1>
    </div>
</div>
<div class="container">
    <p>@Model.Created</p>
    <ul class="no-gutters">
        @foreach (var tag in Model.Tags)
        {
            <li>@tag</li>
        }
    </ul>
    <p>@Model.Body</p>
</div>
