@page "/login"
@model SimpleBlog.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="page-title">
    <div class="container">
        <h1 class="display-4">Login</h1>
    </div>
</div>
<div class="container page-body">
    <form method="post">
        <div class="form-group">
            @Html.LabelFor(m => m.Code)
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
            @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

