@page "/{id}"
@model SimpleBlog.Pages.PageModel
@{
    ViewData["Title"] = "About";
}

@section Styles {
    <link href="~/libs/highlight/styles/github-dark.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/libs/highlight/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
}

<main>
    <section class="page-title mb-3">
        <div class="container">
            <h1 class="display-4">@Model.Title</h1>
        </div>
    </section>
    <section class="container pt-3">
        @if (User.Identity.IsAuthenticated)
        {
            <p><a class="btn btn-primary" role="button" asp-page="/adminpage" asp-route-id="@Model.Id">Edit this page</a></p>
        }
        @Html.Raw(Model.HtmlBody)
    </section>
</main>
